body {
  /* background-image: url('../public/images/clouds.jpg'); */
  background-image: url('../public/images/rain.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #fff;
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.App {
  height: 100vh;
}


::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: transparent;
}

@media (min-width : 880px) {

  .App {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  
}